.bookshelf {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bookslist__button {
  margin: 25px 0;
  width: fit-content;
}

.bookslist {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 95%;
}

.books-list {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto ;
  gap: 20px;
}

.book {
  padding: 15px;
  border: 2px solid black;
  border-radius: 15px;
}

.book__content {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 15px;
}

.pdf__button {
  border: none;
  background-color: transparent;
  padding: 15px;
  font-size: 15px;
  transition: all .5s;
}

.pdf__button:hover {
  padding: 0 20px;
  font-size: 18px;
}

.book__pdf {
  margin-left: 10px;
  border: 2px solid black;
  width: fit-content;
}

.pdf__controls {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 250px;
  bottom: 25px;
  left: 50%;
  margin-left: -125px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 67px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 67px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 67px -13px rgba(0,0,0,0.75);
}

.pdf__page {
  margin-right: 15px;
}

.quote {
  cursor: pointer;
  border-bottom: 1px solid #2a1455;
}
